<h4>Комментарии айтема: @ViewBag.Item.NameItem</h4>
<p></p>
<table class="table table-striped">
    @foreach (var comment in ViewBag.Comments)
    {
        <tr>
            <th>
                <h6>@comment.UserName &nbsp&nbsp&nbsp @comment.DateTimeComment</h6>
                <p></p>
                @comment.CommentText
            </th>
        </tr>
    }
</table>
<table class="table table-striped">
    <tr>
        <th>
            <div id="chatroom"></div>
        </th>
    </tr>

</table>
    @*<div id="inputForm">
            @{ if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Home" asp-action="AddComment" asp-route-itemName="@ViewBag.Item.NameItem">
                        <input hidden type="text" name="ItemId" value="@ViewBag.Item.Id" />
                        <input type="text" id="message" class="form-control" name="CommentText" />
                        <input type="submit" id="sendBtn" class="btn btn-sm btn-primary" />
                    </form>
                }
            }
        </div>*@
    @{string str = User.Identity.IsAuthenticated ? "" : "hidden";}
    <form asp-controller="Home" asp-action="AddComment" asp-route-itemName="@ViewBag.Item.NameItem">
        <div id="inputForm">
            <input hidden type="text" name="ItemId" value="@ViewBag.Item.Id" />
            <input hidden type="text" id="userName" name="UserName" value="@User.Identity.Name" />
            <input @str type="text" id="message" class="form-control" name="CommentText" />
            <input @str type="submit" id="sendBtn" value="Отправить" class="btn btn-sm btn-primary" />
        </div>
    </form>

    <script src="~/scripts/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();


        hubConnection.on("Send", function (data) {

            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode(data));
            let firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;

            hubConnection.invoke("Send", message);
        });


        hubConnection.start();
    </script>

