<h4>Комментарии айтема: @ViewBag.Item.NameItem</h4>
<p></p>
<table class="table table-striped">
    @foreach (var comment in ViewBag.Comments)
    {
        <tr>
            <th>
                <div style="display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; padding: 0 10px;">
                    <h6>@comment.UserName</h6>
                    <p>@comment.DateTimeComment</p>
                </div>
                <p>@comment.CommentText</p>
            </th>
        </tr>
    }
</table>

    @{string str = User.Identity.IsAuthenticated ? "" : "hidden";}
    <form asp-controller="Home" asp-action="AddComment" asp-route-itemName="@ViewBag.Item.NameItem">
        <div id="inputForm">
            <input hidden type="text" name="ItemId" value="@ViewBag.Item.Id" />
            <input hidden type="text" id="userName" name="UserName" value="@User.Identity.Name" />
            <input @str type="text" id="message" class="form-control" name="CommentText" />
            <input @str type="submit" id="sendBtn" value="Отправить" class="btn btn-sm btn-primary" />
        </div>
    </form>





