@using WebTask;
<p></p>
<form method="get" asp-action="AddCollect" asp-controller="Home">
    <button type="submit" class="btn btn-sm btn-danger">Добавить коллекцию</button>
</form>
<p></p>
<form asp-action="DeleteCollect" asp-controller="Home" method="post">

    <table class="table table-striped">
        <tr>
            <th>Фото</th>
            <th>Имя коллекции</th>
            <th>Имя автора</th>
            <th>Краткое описание</th>
            <th>Управление</th>
        </tr>

        @foreach (Collect collect in Model)
        {
            @if (collect.NameAuthor == User.Identity.Name)
            {
                <tr>
                    @{string str = collect.Photo == null ? "https://res.cloudinary.com/boola98/image/upload/v1628792596/no-photo_oixf78.png" : collect.Photo;}
                <th>
                    <a asp-action="Items" asp-route-id="@collect.Id"><img src="@str" height="150" alt="Картинка коллекции"></a>
                </th>
                <th>
                    <a asp-action="Items" asp-route-id="@collect.Id">@collect.NameCollection</a>
                </th>
                    <th>@collect.NameAuthor</th>
                    <th>@Markdown.ParseHtmlString(collect.ShortDescription)</th>
                    <th>
                        <button class="btn btn-sm btn-danger" asp-action="DeleteCollect" asp-controller="Home" asp-route-Id="@collect.Id">Удалить</button>
                        <p></p>
                        <button class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Home" asp-route-Id="@collect.Id">Редактировать</button>
                        <p></p>
                        <button class="btn btn-sm btn-primary" asp-action="AddItem" asp-controller="Home" asp-route-Id="@collect.Id">Добавить айтем</button>
                    </th>

                </tr>
            }
        }
    </table>
</form>


