@using WebTask;
<div id="tag-cloud" class=" text-primary m-auto" style="width:100%; max-width: 800px; height: 200px !important;"></div>
<form class="d-flex" method="get" asp-action="AddCollect" asp-controller="Collect">
    <button type="submit" class="btn btn-lg btn-primary mx-auto mb-5">Добавить коллекцию</button>
</form>


<form class="collections-grid" asp-action="DeleteCollect" asp-controller="Home" method="post">
    @foreach (Collect collect in Model)
    {
        @if (collect.NameAuthor == User.Identity.Name)
        {
            <a class="card shadow decoration-none text-dark w-100" asp-controller="Item" asp-action="Items" asp-route-id="@collect.Id">
                <img src="@collect.Photo" alt="Card Picture" />
                <div class="card-body">
                    <h5 class="card-title h5">@collect.NameCollection</h5>
                    <p class="card-text mb-3">@collect.NameAuthor</p>
                    <p class="card-text">@Markdown.ParseHtmlString(collect.ShortDescription)</p>
                </div>
                <div class="d-flex justify-content-around align-items-center pb-3 flex-wrap">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <button type="submit" class="btn btn-sm btn-danger" asp-action="DeleteCollect" asp-controller="Collect" asp-route-Id="@collect.Id">Удалить</button>
                        <button type="submit" class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Collect" asp-route-Id="@collect.Id">Редактировать</button>
                        <button type="submit" class="btn btn-sm btn-primary" asp-action="AddItem" asp-controller="Item" asp-route-Id="@collect.Id">Добавить айтем</button>
                    }
                </div>
            </a>
        }
    }
</form>

<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script src="~/scripts/jqcloud.min.js"></script>

@foreach (var item in ViewBag.itemsforCloud)
{
    <input type="hidden" value="@item.Tags" id="@item.Id" />
}

<script type="text/javascript" charset="UTF-16">
        var words = new Array();
        @foreach (var item in ViewBag.itemsforCloud)
         {
             @:words.push({ text: $("#@item.Id").val(), weight: 13, link: "/Item/ItemsAll/" + $("#@item.Id").val()  })
         }
        $(function () {
            $('#tag-cloud').jQCloud(words);
        });
</script>