<h4>Поиск по тегу: @ViewBag.Tag</h4>
<p></p>
<div id="demo"></div>

<form asp-controller="Home" asp-action="LikeItem" method="post">

    <table class="table table-striped">
        <tr>
            <th>Имя айтема</th>
            <th>Тэги айтема</th>
            <th> </th>
        </tr>
        @foreach (var item in ViewBag.items)
        {
            <tr>
                <th>
                    <a asp-controller="Home" 
                       asp-action="CommentsView" 
                       asp-route-itemId="@item.Id" >@item.NameItem
                    </a>
                </th>
                <th>
                    @item.Tags
                </th>
                <th>
                    @{if (User.Identity.IsAuthenticated)
                        {
                            string str = "like";
                            foreach (var like in ViewBag.like)
                            {
                                if (like.ItemId == item.Id)
                                {
                                    str = like.Like == true ? "like like_type_active" : "like";
                                }
                            }
                            <button class=@str
                                    asp-controller="Home"
                                    asp-action="LikeItem"
                                    asp-route-tag="@ViewBag.Tag"
                                    asp-route-id="@item.Id"></button>

                        }
                    }
                </th>

            </tr>
        }

    </table>

</form>


<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script src="~/scripts/jqcloud.min.js"></script>

@foreach (var item in ViewBag.var1)
{
    <input type="hidden" value="@item.Tags" id="@item.Id" />
}

<script type="text/javascript" charset="UTF-16">
        var words = new Array();
        @foreach (var item in ViewBag.var1)
         {
             @:words.push({ text: $("#@item.Id").val(), weight: 13, link: "/Item/ItemsAll/" + $("#@item.Id").val()  })
         }
        $(function () {
            $('#demo').jQCloud(words, {
                    height: 250
            });
            });
</script>
